.hero {
    position: relative;
    height: 90vh;
    &_content {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 7;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding-top: 4rem;
    }
}