.footer {
    nav {   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    }
    &_copy {
        flex: 1 0 100%;
        text-align: center;
    }
}