@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Coda', cursive;
    scroll-behavior: smooth;
  }
  .ows_article p {
    margin-bottom: 1.5rem;
  }
  .ows_article ol, .ows_article ul {
    list-style: bullet;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
  .ows_article li {
    padding-bottom: 1rem;
  }

  .ows_article a {
    text-decoration: underline;
    color: #7C2AE8;
  }
}